
.Button {
  border: none;
  background-color: #0cb0b7;
  padding: 18px 20px;
  font-size: 20px;
  color: white;
  font-weight: 600;
  border-radius: 20px;
  line-height: 24px;
  transition: 0.18s;
  cursor: pointer;
}

.Button:hover {
  background-color: #0b9ea5;
}
