body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  min-width: 320px;
}

button {
  outline: none;
}


h1, h4 {
  color : white;
  font-size: 40px;
  line-height: 56px;
  font-weight: bold;
}
h1 span, h4 span {
  color: #A3E7EA;
}

h2 {
  font-size: 40px;
  line-height: 49px;
  font-weight: 600;
}

h3 {
  font-size: 25px;
  line-height: 40px;
  font-weight: 600;
  margin: 0;
}

@media only screen and (max-width: 950px) {
  h1, h4 {
    color : white;
    font-size: 25px;
    line-height: 36px;
    font-weight: bold;
    text-align: center;
  }
  h1 span, h4 span {
    color: #A3E7EA;
  }
  h2 {
    font-size: 25px;
    line-height: 42px;
    font-weight: 600;
  }
  h3 {
    font-size: 18px;
    line-height: 22px;
  }
}



ul {
  list-style: none;
  padding-left: 0;
  margin-top: 40px;
  margin-bottom: 60px;
}
li {
  background-image: url('assets/li.svg');
  background-repeat: no-repeat;
  line-height: 50px;
  padding-left: 80px;
  margin: 15px 0;
}

@media only screen and (max-width: 950px) {
  ul {
    margin-bottom: 30px;
  }
  li {
    background-image: url('assets/li3.svg');
    line-height: 30px;
    padding-left: 40px;
  }
}



.flex {
  display: flex;
}

.left {
  width: 65%;
}

.right {
  width: 35%;
  display: flex;
  justify-content: center;
}
.center {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 950px) {
  .flex {
    flex-wrap:wrap;
  }
  
  .left {
    width: 100%;
  }
  
  .right {
    width: 100%;
  }
}


.ilust1 {
  width: 100%;
  height: auto;
}

.logoCamper {
  width: 48px;
  height: auto;
}

.content {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 50px;
}
@media only screen and (max-width: 600px) {
  .content {
    padding: 0 20px;
  }
}

.registrSection {
  background-image: url("assets/bgdark2.png");
  background-repeat: no-repeat;
  background-position: top center;
  padding: 100px 0 80px;
}

.registrSection .left {
  width:60%;
  display:flex;
  align-items: center;
}
.registrSection .right {
  width: 40%;
}

@media only screen and (max-width: 950px) {
  .registrSection {
    padding: 50px 0 40px;
  }
  .registrSection .left {
    width: 100%;
  }
  .registrSection .right {
    width: 100%;
  }
}

.registr {
  box-sizing: border-box;
  width: 425px;
  background: white;
  border-radius: 20px;
  padding: 40px 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.registr ul {
  margin: 15px 0;
}

.registr ul li {
  font-size: 14px;
  line-height: 26px;
  padding-left: 40px;
  background-image: url('assets/li2.svg');
  background-repeat: no-repeat;
  background-position: center left;
}
@media only screen and (max-width: 950px) {
  .registr {
    max-width: 425px;
    padding: 30px 20px;
  }
  
  .registr ul {
    margin: 15px 0;
  }
  
  .registr ul li {
    font-size: 14px;
    line-height: 26px;
    padding-left: 40px;
    background-image: url('assets/li2.svg');
    background-repeat: no-repeat;
    background-position: center left;
  }
  .registr h3 {
    text-align: center;
  }
}



.number {
  color: #09B0B7;
  font-weight: bold;
  font-size: 30px;
  margin-right: 10px;
}




.box p {
  color: #707070;
}
@media only screen and (max-width: 950px) {
  .box p {
    font-size: 14px;
  }
}


.App-logo {
  height: 120px;
  pointer-events: none;
  margin-bottom: 50px
}

.header {
  color: white;
  min-height: 690px;
  padding: 30px 0px 100px;
  background-image: url("assets/Hero.png");
  background-repeat: no-repeat;
  background-position: top center;
  font-size: 20px;
  font-weight: 600;
  box-sizing: border-box;
}


.header button {
  margin-top: 20px;
}
/* .header h1 {

  line-height: 62px;
} */


.header .middle {
  margin-top: 100px;
}
@media only screen and (max-width: 950px) {
  .header {
    min-height: 490px;
    padding: 30px 0px 60px;
    background-position: bottom center;
  }

  .header button {
    margin: 20px auto 0;
  }
  .header h1 {
    text-align: center;
  }
  .header .middle {
    text-align: center;
    margin-top: 50px;
  }
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
}

.box {
  width: 50%;
}
@media only screen and (max-width: 950px) {
  .box {
    width: 100%;
  }
}


.lightBlue {
  min-height: 60vh;
  color: #056165ED;
  padding: 160px 0 190px;
  background-image: url("assets/bglight.svg");
  background-repeat: no-repeat;
  background-position: top center;
}

.lightBlue p {
  line-height: 2;
  font-weight: 500;
  margin-bottom: 60px;
}

@media only screen and (max-width: 950px) {
  .lightBlue {
    padding: 60px 0 20px;
  }
  .lightBlue h2{
    text-align: center;
  }
  .lightBlue .left { 
    flex-direction: column;   
    justify-content: center;
  }
  .lightBlue .right img {
    max-width: 250px;
  }
  .lightBlue button {
    margin: 0 auto;
  }
  .lightBlue .right {
    width: 100%;
    padding: 30px 0;
    order: 2;
    justify-content: center;
  }
  .lightBlue p {
    line-height: 1.6;
    margin-bottom: 30px;
    text-align:center;
  }
}

.lightBlue h2 {
  font-weight: bold;
  margin-bottom: 40px;
}



.howTo {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 0 110px ;
}

.howToWrapper {
  display: flex;
}
@media only screen and (max-width: 950px) {
  .howToWrapper {
    flex-wrap: wrap;
  }
}

.order {
  display: flex;
  align-items: flex-end;
  min-height: 101px;
  margin-bottom: 24px;
}

.howToWrapper .box {
  width: 25%;
  padding: 0 20px;
}
@media only screen and (max-width: 950px) {
  .howToWrapper .box {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .howTo h2 {
    text-align: center;
  }
}

.howToWrapper .box img{
  height: auto;
  margin-bottom: 15px;
}

.howTo1 {
  width: 61px;
}
.howTo2 {
  width: 115px;
}
.howTo3 {
  width: 85px;
}
.howTo4 {
  width: 95px;
}


.howToWrapper .Title {
  min-height: 80px;
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 950px) {
  .howToWrapper .Title {
    min-height: 50px;
  }
}


.box {
  margin-bottom: 35px;
  font-size: 20px;
  line-height: 1.6;
  padding-right: 40px;
  padding-bottom: 60px;
  box-sizing: border-box;
}
@media only screen and (max-width: 950px) {
  .box {
    margin-bottom: 0px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-top:20px;
    box-sizing: border-box;
  }
}

.Wrapper .box img{
  height: auto;
  margin-bottom: 15px;
}


.spolupraceImage {
  min-height: 106px;
}
.spoluprace1 {
  width: 91px;
}
.spoluprace2 {
  width: 65px;
}
.spoluprace3 {
  width: 276px;
}
.spoluprace4 {
  width: 192px;
}


.container .left {
  order:1;
}
.container .right {
  order:2;
}

@media only screen and (max-width: 950px) {
  .container .left {
    order: 2;
  }
  .container .right {
    order: 1;
    display: flex;
    justify-content: left;
  }
  .container .right img{
    width: 70%;
    max-width: 300px;
    height: auto;
  }
}
